.row
  .col-md-12
    .box.box-primary
      .box-header.with-border
        %h3.box-title Editar Cliente

      = form_for @client, url: update_client_path, method: :patch do |f|
        = render 'clients/partials/form', f: f
