.container-fluid
  .row
    .col-lg-12

      %h3.box-title Productos (#{@products.size})

      .box.slice-box
        .box-body.no-padding
          %table.table
            %thead
              %tr
                %th
                  Nombre
                %th
                  Tipo
                %th
                  Color
                %th
                  Tamaño
                %th
                  Precio Unitario
                %th
            %tbody
              = render 'products/partials/listing', products: @products
